<div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
              <!-- 
                   <span igxDrawerItem [isHeader]="true">Sidebar Listesi</span>
         <span igxDrawerItem igxRipple routerLink="home">Home</span>
         <span igxDrawerItem igxRipple routerLink="role">Role</span>
         <span igxDrawerItem igxRipple routerLink="user">User</span>
         <span igxDrawerItem igxRipple routerLink="data-binding">Data-Binding</span>
    -->
    <ul>
        <li routerLink="home">Home</li>
        <li routerLink="role">Role</li>
        <li routerLink="user">User</li>
        <ul>
          <li [routerLink]="['user',7]">User 5 Detail</li>
          <li [routerLink]="['user',7,'role']">User 5 Role</li>
        </ul>
        <li routerLink="data-binding">Data Binding</li>
        <li routerLink="storage">Storage</li>
        <li routerLink="directives">Directives</li>
        <li routerLink="pipes">Pipes</li>
    </ul>
        
        </nav>
      </ng-template>
    </igx-nav-drawer>
    <main>
      <!-- app content -->
    </main>
  </div>
