<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height:1000px">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li routerLink="home">Home</li>
        <li routerLink="role">Role</li>
        <li routerLink="user">User</li>
        <ul>
          <li [routerLink]="['user',7]">User 5 Detail</li>
          <li [routerLink]="['user',7,'role']">User 5 Role</li>
        </ul>
        <li routerLink="data-binding">Data Binding</li>
        <li routerLink="storage">Storage</li>
        <li routerLink="directives">Directives</li>
        <li routerLink="pipes">Pipes</li>
        <li routerLink="parents">Parents</li>
        <li routerLink="forms">Forms</li>
  </ul>
  <hr>
</div>










