<div class="container" style="padding-top:5%;">
<div class="row">
  <div class="col-md-9 offset-md-3">
    <form class="form-group" #cityForm="ngForm" (ngSubmit)="save(cityForm)">
      <div class="col-md-12 form-contol">
        <label for="id">Id</label>
        <input type="number" name="id" ngModel>
      </div>
      <div class="col-md-12 form-contol">
        <label for="name">Name</label>
        <input type="text" name="name" ngModel>
      </div>
      <div class="col-md-12 form-contol">
        <label for="plaka">Plaka</label>
        <input type="number" name="plaka" ngModel>
      </div>
      <div class="col-md-12 form-contol">
        <label for="region">Region</label>
        <input type="string" name="region" ngModel>
      </div>
      <button type="submit">Kaydet</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  <app-city></app-city>
  </div>
  <div class="col-md-4">
    <app-region></app-region>
  </div>
  <div class="col-md-4">
    <app-plaka></app-plaka>
  </div>
</div>
</div>
