<div class="row">
    <div class="col-md-5">
    <input type="text" [(ngModel)]="name">
    <br>
    <button (click)="setItem(name)"> Set item</button>
    <button (click)="getItem()"> Get item</button>
    <button (click)="clearItem()"> Clear item</button>
    <br>
    <p>ng model : {{name}} </p>
    <p>local storage value : {{localStorageVal}} </p>
    </div> 

    <div class="col-md-5">
        name: <input type="text" [(ngModel)]="objName"><br>
        surname: <input type="text" [(ngModel)]="objSurname"><br>
        age: <input type="text" [(ngModel)]="objAge"><br>
        <br>
        <button (click)="setObject()"> Set item</button>
        <button (click)="getObject()"> Get item</button>
        <br>
        <p>object value : {{localStorageObjVal}} </p>
    </div> 

    <div class="col-md-2">
         <button [routerLink]="['../cookie']">Go to cookie page</button> 
    </div>
</div>>
